/**
/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
html {
  font-family: 'Bebas Neue', cursive;
  overflow: visible;
  scroll-behavior: smooth;
}

body {
  margin: 0 0;
  width: 100%;
  height: 100vh;
  min-width: 100%;
  min-height: 100vh;
  background: #000;
  background-color: #000000;
  color: #000000;
}

svg {
  position: fixed;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 300px;
  width: 300px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #bdc01a;
}

@media (max-width:1024px) {
  h2 {
    color: #bdc01a;
    font-size: 1.7rem;
    font-weight: 800;
  }
}

@media (max-width:786px) {
  h2 {
    color: #bdc01a;
    font-size: 1.5rem;
    font-weight: 600;
  }
}

p {
  color: #ffffff;
  font-weight: 400;
  font-size: 1.6rem;
}

@media (max-width: 1024px) {
  p {
    font-weight: 300;
    font-size: 1.2rem;
  }
}

@media (max-width: 786px) {
  p {
    font-weight: 200;
    font-size: 1rem;
  }
}


.bg__image {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
}

@media (max-width: 1024px) {
  .bg-image {
    background-attachment: scroll;
  }
}

.overlay__intro {
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 0;
  left: 0px;
  padding: 0;
  height: 100%;
  width: 100%;
  opacity: 1.1;
}

/*--------------------------------------------------------------
# Main and Header Section
--------------------------------------------------------------*/

.main {
  height: 100vh;
  width: 100%;
  position: relative;
  color: #bdc01a;
}


header {
  transition: all 0.5s;
  z-index: 997;
  padding: 4% 5%;
  position: absolute;
}

.header__title__name {
  font-size: 50px;
  margin: 0 0;
  color: #bdc01a;
  padding: 15px;
  font-weight: 800;
  letter-spacing: 1px;
}

@media (max-width: 1024px) {
  .header__title__name {
    font-size: 48px;
    margin: 0 0;
    color: #bdc01a;
    padding: 15px;
    font-weight: 800;
    letter-spacing: 1px;
  }
}

@media (max-width: 786px) {
  .header__title__name {
    font-size: 46px;
    margin: 0 0;
    color: #bdc01a;
    padding: 15px;
    font-weight: 800;
    letter-spacing: 1px;
  }
}

@media (max-width: 480px) {
  .header__title__name {
    font-size: 40px;
    margin: 0 0;
    color: #bdc01a;
    padding: 15px;
    font-weight: 800;
    letter-spacing: 1px;
  }
}


.main__content {
  text-align: center;
  position: absolute;
  width: 100%;
  height: 100%;
  display: table;
}

.main__container {
  display: table-cell;
  vertical-align: middle;
}

.main__title {
  color: #ffffff;
  font-weight: 600;
  font-size: 5rem;
}

@media (max-width:1024px) {
  .main__title {
    font-size: 4rem;
  }
}

@media (max-width:768px) {
  .main__title {
    font-size: 3.5rem;
  }
}

@media (max-width:480px) {
  .main__title {
    font-size: 2.6rem;
  }
}

/*--------------------------------------------------------------
# Second Page
--------------------------------------------------------------*/

.second__page {
  position: relative;
}

.page__container {
  position: relative;
  margin: 0 2%;
  padding: 2%;
}

.end__img {
  position: relative;
  max-width: 50%;
  max-height: 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
}

.wrapper {
  height: 100vh;
  display: grid;
  grid-template-rows: 200px 1fr;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  align-items: flex-start;
}

.box {
  padding: 1%;
  font-size: 150%;
}

.info {
  height: 95vh;
}

@media (min-width: 1024px) {
  .info {
    height: 55vh;
  }
}

@media (max-width: 1024px) {
  .info {
    height: 60vh;
  }
}

@media (max-width: 786px) {
  .info {
    height: 65vh;
  }
}

@media (max-width: 480px) {
  .info {
    height: 70vh;
  }
}

@media (min-width: 1024px) {
  .info p{
    font-size: 30px;
  }
}

@media (max-width: 1024px) {
  .info p{
    font-size: 24px;
  }
}

@media (max-width: 786px) {
  .info p{
    font-size: 22px;
  }
}

@media (max-width: 480px) {
  .info p {
    font-size: 18px;
  }
}

.info__title {
  font-weight: 500;
  margin: 0 0;
}


@media (min-width: 1024px) {
  .info__title h2{
    font-weight: 900;
    font-size: 47px;
  }
}

@media (max-width: 1024px) {
  .info__title h2{
    font-weight: 800;
    font-size: 29px;
  }
}

@media (max-width: 786px) {
  .info__title h2{
    font-weight: 700;
    font-size: 25px;
  }
}

@media (max-width: 480px) {
  .info__title h2{
    font-weight: 700;
    font-size: 21px;
  }
}

.info__instruments {
  margin: 5% 0;
}

@media (max-width: 786px) {
  .info__instruments {
    height: 20vh;
  }

  p {
    font-size: 300;
    font-size: 1.1rem;
  }
}


@media (max-width: 786px) {
  .info__instruments {
    height: 20vh;
  }

  p {
    font-size: 300;
    font-size: 1.1rem;
  }
}


@media (max-width: 786px) {
  .info__instruments {
    height: 20vh;
  }

  p {
    font-size: 300;
    font-size: 1.1rem;
  }
}

/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/
.skills {
  position: relative;
  margin: 0 2%;
}

.skill {
  margin: 0 2%;
}

.skill__content {
  text-align: center;
  height: 35vh;
  text-shadow: #bdc01a 1ch;
}

.skill__title {
  margin: 0 15%;
}

.skill__img {
  max-width: 75px;
  max-height: 75px;
}

.skill__img__white_background {
  max-width: 75px;
  max-height: 75px;
  background-color: #ffffff;
}

/*--------------------------------------------------------------
# Information
--------------------------------------------------------------*/

.information {
  position: relative;
  height: 50vh;
  width: 100%;
  max-height: 100vh;
}

.message__content {
  text-align: center;
  justify-content: center;
  align-items: center;
}

.message__title {
  font-size: 3rem;
  font-weight: 700;
}

@media (max-width: 786px) {
  .message__title h2 {
    font-size: 2.7rem;
    font-weight: 800;
  }
}

@media (max-width: 1024px) {
  .message__title h2 {
    font-size: 2.9rem;
    font-weight: 800;
  }
}

.message__text {
  font-size: 3rem;
  font-weight: 700;
}

@media (max-width: 786px) {
  .message__text p {
    font-size: 1.2rem;
    font-weight: 300;
  }
}

@media (max-width: 1024px) {
  .message__text p {
    font-size: 1.4rem;
    font-weight: 500;
  }
}

.contact {
  position: relative;
  margin: 0 15%;
}

.contact__img {
  max-width: 50px;
  max-height: 50px;
}