/**
/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
html {
  font-family: "Bebas Neue", cursive;
  overflow: visible;
  scroll-behavior: smooth;
}

body {
  margin: 0 0;
  width: 100%;
  height: 100vh;
  min-width: 100%;
  min-height: 100vh;
  background: #000;
  background-color: #000000;
  color: #000000;
}

h2 {
  color: #bdc01a;
}

@media (max-width: 1024px) {
  h2 {
    color: #bdc01a;
    font-size: 1.6rem;
    font-weight: 800;
  }
}

@media (max-width: 786px) {
  h2 {
    color: #bdc01a;
    font-size: 1.5rem;
    font-weight: 600;
  }
}

@media (max-width: 320px) {
  h2 {
    color: #bdc01a;
    font-size: 1.1rem;
    font-weight: 600;
  }
}

p {
  color: #ffffff;
  font-weight: 400;
  font-size: 1.4rem;
}

@media (max-width: 1024px) {
  p {
    font-weight: 300;
    font-size: 1.2rem;
  }
}

@media (max-width: 786px) {
  p {
    font-weight: 200;
    font-size: 1rem;
  }
}

.bg__image {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
}

@media (max-width: 1024px) {
  .bg-image {
    background-attachment: scroll;
  }
}

.overlay__intro {
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 0;
  left: 0px;
  padding: 0;
  height: 100%;
  width: 100%;
  opacity: 1.1;
}

/*--------------------------------------------------------------
# Main and Header Section
--------------------------------------------------------------*/

.main {
  height: 100vh;
  width: 100%;
  position: relative;
  color: #bdc01a;
}

header {
  transition: all 0.5s;
  z-index: 997;
  padding: 4% 5%;
  position: absolute;
}

.header__title__name {
  font-size: 70px;
  margin: 0 0;
  color: #bdc01a;
  padding: 15px;
  font-weight: 800;
  letter-spacing: 1px;
}

@media (max-width: 1024px) {
  .header__title__name {
    font-size: 48px;
    margin: 0 0;
    color: #bdc01a;
    padding: 15px;
    font-weight: 800;
    letter-spacing: 1px;
  }
}

@media (max-width: 786px) {
  .header__title__name {
    font-size: 46px;
    margin: 0 0;
    color: #bdc01a;
    padding: 15px;
    font-weight: 800;
    letter-spacing: 1px;
  }
}

@media (max-width: 480px) {
  .header__title__name {
    font-size: 40px;
    margin: 0 0;
    color: #bdc01a;
    padding: 15px;
    font-weight: 800;
    letter-spacing: 1px;
  }
}

@media (max-width: 340px) {
  .header__title__name {
    font-size: 40px;
    margin: 0 0;
    color: #bdc01a;
    padding: 15px;
    font-weight: 800;
    letter-spacing: 1px;
  }
}

.main__content {
  text-align: center;
  position: absolute;
  width: 100%;
  height: 100%;
  display: table;
}

.main__container {
  display: table-cell;
  vertical-align: middle;
}

.main__container p {
  font-size: 2.1rem;
}

@media (max-width: 340px) {
  .main__container p {
    font-size: 1.6rem;
  }
}

@media (min-width: 1024px) {
  .main__title {
    font-weight: 600;
    color: #ffffff;
    margin: 0 0;
    font-size: 5.2rem;
  }
}

@media (max-width: 1024px) {
  .main__title {
    font-weight: 600;
    color: #ffffff;
    margin: 0 0;
    font-size: 4.5rem;
  }
}

@media (max-width: 768px) {
  .main__title {
    color: #ffffff;
    margin: 0 0;
    font-weight: 600;
    font-size: 4rem;
  }
}

@media (max-width: 480px) {
  .main__title {
    font-weight: 600;
    color: #ffffff;
    margin: 0 0;
    font-size: 3.5rem;
  }
}

@media (max-width: 340px) {
  .main__title {
    font-weight: 600;
    color: #ffffff;
    margin: 0 0;
    font-size: 3rem;
  }
}

/*--------------------------------------------------------------
# Second Page
--------------------------------------------------------------*/

.second__page {
  position: relative;
}

.page__container {
  position: relative;
  margin: 0 2%;
  padding: 1%;
}

.end__img {
  position: relative;
  max-width: 50%;
  max-height: 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
}

.wrapper {
  height: 100vh;
  display: grid;
  grid-template-rows: 200px 1fr;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  align-items: flex-start;
}

.box {
  padding: 1%;
  font-size: 150%;
}

/* ############################### */

.info {
  height: 98vh;
}

/* ########################### */

@media (min-width: 1024px) {
  .info__title h2 {
    font-weight: 900;
    font-size: 3.1rem;
    margin: 5% 0;
  }
}

@media (max-width: 1024px) {
  .info__title h2 {
    font-weight: 800;
    font-size: 2.4rem;
  }
}

@media (max-width: 786px) {
  .info__title h2 {
    font-weight: 700;
    font-size: 2.2rem;
  }
}

@media (max-width: 480px) {
  .info__title h2 {
    font-weight: 700;
    font-size: 1.8rem;
  }
}

@media (max-width: 340px) {
  .info__title h2 {
    font-weight: 700;
    font-size: 1.45rem;
  }
}
/* ###################### */

@media (min-width: 1024px) {
  .info p {
    font-size: 1.7rem;
  }
}

@media (max-width: 1024px) {
  .info p {
    font-size: 1.6rem;
  }
}

@media (max-width: 880px) {
  .info p {
    font-size: 1.45rem;
  }
}

@media (max-width: 786px) {
  .info p {
    font-size: 1.4rem;
  }
}

@media (max-width: 640px) {
  .info p {
    font-size: 1.2rem;
  }
}

@media (max-width: 480px) {
  .info p {
    font-size: 1.1rem;
  }
}

@media (max-width: 480px) {
  .info p {
    font-size: 0.9rem;
  }
}

/* ############################### */

.info__instruments {
  margin: 5% 0;
}

@media (max-width: 1024px) {
  .info__instruments {
    height: 20vh;
  }

  p {
    font-size: 300;
    font-size: 1.1rem;
  }
}

@media (max-width: 786px) {
  .info__instruments {
    height: 20vh;
  }

  p {
    font-size: 300;
    font-size: 1.1rem;
  }
}

@media (max-width: 640px) {
  .info__instruments {
    height: 20vh;
  }

  p {
    font-size: 300;
    font-size: 1.1rem;
  }
}

@media (max-width: 480px) {
  .info__instruments {
    height: 20vh;
  }

  p {
    font-size: 300;
    font-size: 1.1rem;
  }
}

@media (max-width: 340px) {
  .info__instruments {
    height: 20vh;
  }

  p {
    font-size: 300;
    font-size: 0.9rem;
  }
}
/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/
.skills {
  position: relative;
  margin: 0 2%;
}

.skill {
  margin: 0 2%;
  height: 95vh;
}

.skill__content {
  text-align: center;
  height: 40vh;
}

@media (max-width: 480px) {
  .skill__content {
    text-align: center;
    height: 40vh;
  }
}

@media (max-width: 340px) {
  .skill__content {
    text-align: center;
    height: 35vh;
  }
}

.skill__content__second {
  text-align: center;
  height: 45vh;
  text-shadow: #bdc01a 1ch;
}

@media (max-width: 480px) {
  .skill__content__second {
    text-align: center;
    height: 52vh;
    text-shadow: #bdc01a 1ch;
  }
}

@media (min-width: 1024px) {
  .skill__img {
    max-width: 100px;
    max-height: 100px;
  }
}

@media (max-width: 1024px) {
  .skill__img {
    max-width: 73px;
    max-height: 73px;
  }
}

@media (max-width: 880px) {
  .skill__img {
    max-width: 67px;
    max-height: 67px;
  }
}

@media (max-width: 786px) {
  .skill__img {
    max-width: 64px;
    max-height: 64px;
  }
}

@media (max-width: 640px) {
  .skill__img {
    max-width: 61px;
    max-height: 61px;
  }
}

@media (max-width: 480px) {
  .skill__img {
    max-width: 57px;
    max-height: 57px;
  }
}

@media (max-width: 340px) {
  .skill__img {
    margin: 5px 5px;
    max-width: 52px;
    max-height: 56px;
  }
}

@media (min-width: 1024px) {
  .skill__img__white_background {
    max-width: 85px;
    background-color: #ffffff;
    max-height: 85px;
  }
}

@media (max-width: 1024px) {
  .skill__img__white_background {
    max-width: 73px;
    max-height: 73px;
    background-color: #ffffff;
  }
}

@media (max-width: 880px) {
  .skill__img__white_background {
    max-width: 67px;
    max-height: 67px;
    background-color: #ffffff;
  }
}

@media (max-width: 786px) {
  .skill__img__white_background {
    background-color: #ffffff;
    max-width: 64px;
    max-height: 64px;
  }
}

@media (max-width: 630px) {
  .skill__img__white_background {
    background-color: #ffffff;
    max-width: 61px;
    max-height: 61px;
  }
}

@media (max-width: 480px) {
  .skill__img__white_background {
    background-color: #ffffff;
    max-width: 57px;
    max-height: 57px;
  }
}

/*--------------------------------------------------------------
# Information
--------------------------------------------------------------*/

.information {
  position: relative;
  /* height: 50vh; */
  width: 100%;
  /* max-height: 50vh; */
}

.message__content {
  text-align: center;
  justify-content: center;
  align-items: center;
}

.message__title {
  font-size: 3rem;
  font-weight: 700;
  margin: 5% 0;
}

@media (max-width: 786px) {
  .message__title {
    margin: 5% 0;
    font-size: 2.7rem;
    font-weight: 800;
  }
}

@media (max-width: 640px) {
  .message__title {
    margin: 5% 0;
    font-size: 2.4rem;
    font-weight: 800;
  }
}

@media (max-width: 480px) {
  .message__title {
    margin: 5% 0;
    font-size: 2.35rem;
    font-weight: 800;
  }
}

@media (min-width: 1024px) {
  .message__text {
    font-size: 2.4rem;
    margin: 5% 0;
    font-weight: 700;
  }
}
@media (max-width: 1024px) {
  .message__text {
    margin: 5% 0;
    font-size: 2rem;
    font-weight: 700;
  }
}

@media (max-width: 786px) {
  .message__text {
    margin: 5% 0;
    font-size: 1.4rem;
    font-weight: 400;
  }
}

@media (max-width: 480px) {
  .message__text {
    margin: 10% 0;
    font-size: 1.35rem;
    font-weight: 400;
  }
}

.contact {
  position: relative;
  text-align: end;
}

.contact__img {
  max-width: 50px;
  max-height: 50px;
}

@media (max-width: 786px) {
  .contact__img {
    max-width: 45px;
    max-height: 45px;
  }
}

@media (max-width: 480px) {
  .contact__img {
    max-width: 38px;
    max-height: 38px;
  }
}

@media (max-width: 340px) {
  .contact__img {
    max-width: 33px;
    max-height: 33px;
  }
}
