<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta content="width=device-width, initial-scale=1.0" name="viewport" />
  <title>Maksat Hemdemow</title>
  <link rel="shortcut icon" href="./static/icons/favicon.ico" type="image/x-icon" />
  <link href="./static/css/style.css" rel="stylesheet" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet" />
</head>

<body>
  <div class="loader">
    <svg viewBox="0 0 100 100">
      <g fill="none" stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="6">
        <!-- left line -->
        <path d="M 21 40 V 59">
          <animateTransform attributeName="transform" attributeType="XML" type="rotate" values="0 21 59; 180 21 59"
            dur="2s" repeatCount="indefinite" />
        </path>
        <!-- right line -->
        <path d="M 79 40 V 59">
          <animateTransform attributeName="transform" attributeType="XML" type="rotate" values="0 79 59; -180 79 59"
            dur="2s" repeatCount="indefinite" />
        </path>
        <!-- top line -->
        <path d="M 50 21 V 40">
          <animate attributeName="d" values="M 50 21 V 40; M 50 59 V 40" dur="2s" repeatCount="indefinite" />
        </path>
        <!-- btm line -->
        <path d="M 50 60 V 79">
          <animate attributeName="d" values="M 50 60 V 79; M 50 98 V 79" dur="2s" repeatCount="indefinite" />
        </path>
        <!-- top box -->
        <path d="M 50 21 L 79 40 L 50 60 L 21 40 Z">
          <animate attributeName="stroke" values="rgba(255,255,255,1); rgba(100,100,100,0)" dur="2s"
            repeatCount="indefinite" />
        </path>
        <!-- mid box -->
        <path d="M 50 40 L 79 59 L 50 79 L 21 59 Z" />
        <!-- btm box -->
        <path d="M 50 59 L 79 78 L 50 98 L 21 78 Z">
          <animate attributeName="stroke" values="rgba(100,100,100,0); rgba(255,255,255,1)" dur="2s"
            repeatCount="indefinite" />
        </path>
        <animateTransform attributeName="transform" attributeType="XML" type="translate" values="0 0; 0 -19" dur="2s"
          repeatCount="indefinite" />
      </g>
    </svg>
  </div>

  <div class="main bg__image" style="background-image: url(./static/img/1.jpg)">
    <div class="overlay__intro"></div>

    <header>
      <h2 class="header__title__name">Backend Developer</h2>
    </header>

    <div class="main__content">
      <div class="main__container">
        <p>I am</p>
        <h2 class="main__title">Maksat Hemdemow</h2>

        <div class="contact">
          <a href="https://www.instagram.com/m_hemdemov/"><img loading="lazy" class="contact__img"
              src="./static/icons/instagram.png" /></a>
          <a href="https://t.me/te_hema"><img loading="lazy" class="contact__img" src="./static/icons/telegram.png" /></a>
          <a href="https://vk.com/highestintheroom00"><img loading="lazy" class="contact__img"
              src="./static/icons/vk.png" /></a>
          <a href="https://github.com/hemashoe"><img loading="lazy" class="contact__img"
              src="./static/icons/github.png" /></a>
        </div>

      </div>
    </div>
   
  </div>

  <script>
    document.addEventListener("DOMContentLoaded", () => {
      const loader = document.querySelector(".loader");

      setTimeout(() => {
        loader.style.opacity = 0;
      }, 1000);
    });
  </script>
  
</body>

</html>