<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Maksat Hemdemow</title>

    <link href="./static/css/style.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">

</head>

<body>

    <div class="main bg__image" style="background-image: url(./static/img/6.jpg);">
        <div class="overlay__intro"></div>

        <header>
            <div class="header__title">
                <h1 class="header__title__name">MAKSAT HEMDEMOW</h1>
            </div>
        </header>

        <div class="main__content">
            <div class="main__container">
                <p>I am</p>
                <h1 class="main__title">BACKEND DEVELOPER</h1>
                <p>with over 2 years of experience.</p>
                <p>I work, study and learn for the rest of my life.</p>
            </div>

        </div>

    </div>

    <!-- ################################# -->

    <section class="second__page bg__image" style="background-image: url(./static/img/1.gif);">
        <div class="overlay__intro"></div>
        <div class="page__container">
            <div class="wrapper">

                <div class="box info">

                    <div class="info__content">
                        <div class="info__title">
                            <h2>
                                I'm 20 and I am a <strong>Backend Developer</strong>
                            </h2>
                        </div>
                        <div class="info__text">
                            <p>
                                Hello! I am a Python Developer. I have experience 
                                in writing multiple microservices and web applications.
                                I mostly use Django or FastAPI as web framework.
                                I've been working with OpenCV for 1 year and developed
                                some interesting projects with it. I wrote async and multithreaded
                                applications, also I work with Websockets, requests, Pandas, Numpy libriaries. 
                                I can read, write and manage Javascript, Golang code but for now I want 
                                to improve myself as Python developer. Sooner I'll have much more experience.
                                <br>
                                
                            </p>
                        </div>
                    </div>

                    <div class="info__instruments">
                        <div class="info__content">
                            <div class="info__title">
                                <h2>Interests And Ambitions</h2>
                            </div>
                            <div class="instruments__items">
                                <p>
                                    Hello! I've got over 2 years of experience in programming.
                                    But I don't want to be programmer. I want to be Developer.
                                    I want to create something that many others will use. 
                                    <br>
                                    I want to study, work and gain experience from others.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- ################################# -->

                <div class="box skills">
                    <div class="skill">

                        <div class="skill__content">
                            <div class="skill__title">
                                <h2>STACK</h2>
                            </div>
                            <img class="skill__img" src="./static/icons/python.png">
                            <img class="skill__img" src="./static/icons/websockets.svg">
                            <img class="skill__img" src="./static/icons/opencv.png">
                            <img class="skill__img" src="./static/icons/javascript.svg">
                            <img class="skill__img" src="./static/icons/bash.png">

                        </div>

                        <div class="skill__content">
                            <div class="skill__title">
                                <h2>BACKEND AND DATABASES</h2>
                            </div>
                            <img class="skill__img__white_background" src="./static/icons/django.svg">
                            <img class="skill__img__white_background" src="./static/icons/flask.png">
                            <img class="skill__img" src="./static/icons/fastapi.svg">
                            <img class="skill__img" src="./static/icons/starlette.png">
                            <img class="skill__img" src="./static/icons/ubuntu.png">
                            <img class="skill__img" src="./static/icons/postgresql.svg">
                            <img class="skill__img" src="./static/icons/mysql.png">
                            <img class="skill__img" src="./static/icons/gitlab.png">
                            <img class="skill__img" src="./static/icons/nginx.svg">
                        </div>

                    </div>
                </div>


            </div>
        </div>

    </section>


    <div class="information bg__image" style="background-image: url(./static/img/2.gif);">
        <div class="overlay__intro"></div>
        <div class="page__container">

            <div class="message__content">
                <div class="message__title">
                    <h2>Message to Myself after 5 years</h2>
                </div>

                <div class="message__text">
                    <p>
                        I wrote this message to remind to work on yourself.
                        <br>                        
                        Love mom and dad.
                    </p>
                </div>
                

            </div>


            <div class="contact">
                <a href="https://www.instagram.com/m_hemdemov/"><img class="contact__img" src="./static/icons/instagram.png"></a>
                <a href="https://t.me/te_hema"><img class="contact__img" src="./static/icons/telegram.png"></a>
                <a href="https://vk.com/highestintheroom00"><img class="contact__img" src="./static/icons/vk.png"></a>
            </div>

        </div>

    </div>

    <svg viewBox="0 0 100 100">
        <g fill="none" stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="6">
            <!-- left line -->
            <path d="M 21 40 V 59">
                <animateTransform attributeName="transform" attributeType="XML" type="rotate"
                    values="0 21 59; 180 21 59" dur="2s" repeatCount="indefinite" />
            </path>
            <!-- right line -->
            <path d="M 79 40 V 59">
                <animateTransform attributeName="transform" attributeType="XML" type="rotate"
                    values="0 79 59; -180 79 59" dur="2s" repeatCount="indefinite" />
            </path>
            <!-- top line -->
            <path d="M 50 21 V 40">
                <animate attributeName="d" values="M 50 21 V 40; M 50 59 V 40" dur="2s" repeatCount="indefinite" />
            </path>
            <!-- btm line -->
            <path d="M 50 60 V 79">
                <animate attributeName="d" values="M 50 60 V 79; M 50 98 V 79" dur="2s" repeatCount="indefinite" />
            </path>
            <!-- top box -->
            <path d="M 50 21 L 79 40 L 50 60 L 21 40 Z">
                <animate attributeName="stroke" values="rgba(255,255,255,1); rgba(100,100,100,0)" dur="2s"
                    repeatCount="indefinite" />
            </path>
            <!-- mid box -->
            <path d="M 50 40 L 79 59 L 50 79 L 21 59 Z" />
            <!-- btm box -->
            <path d="M 50 59 L 79 78 L 50 98 L 21 78 Z">
                <animate attributeName="stroke" values="rgba(100,100,100,0); rgba(255,255,255,1)" dur="2s"
                    repeatCount="indefinite" />
            </path>
            <animateTransform attributeName="transform" attributeType="XML" type="translate" values="0 0; 0 -19"
                dur="2s" repeatCount="indefinite" />
        </g>
    </svg>

</body>

</html>